# Bytecode and cache
__pycache__/
*.pyc

# Data and logs
backend/data/*.json
backend/data/logs/

# Redundant nested folders (if accidental)
backend/backend/

# Virtual environment
venv/

# Environment variables file
.env
node_modules/
